<div *ngIf="portfolio; else loading" class="container">
    <div class="row">
        <div class="shadow annka-card annka-padding-16 annka-center" style="max-width:800px;">
            <div class="row" style="padding-left:24px; padding-right:24px; padding-top:8px;" >
                <div class="col-md-8 col-sm-8">
                    <h1 class="annka-inline"><b>{{portfolio.name}}</b></h1> 
                    <button class="annka-green-btn submit-btn" (click)="cashOutAll()">Cash Out</button>
                    <br/>
                    <h2>₦{{currencyService.getAmount(portfolio.amount)}}</h2>
                    <h5 class="annka-grey">Estimated value of portfolio</h5>
                    <br/>
                    <div *ngIf="currencyService.getChangeDirection(portfolio.old_amount, portfolio.amount)==true" style="width:220px; float:left;">
                        <h3 class="annka-inline annka-green" style="margin-right:24px;">+ {{currencyService.getPercentageChange(portfolio.old_amount, portfolio.amount)}}%</h3> <h3 class="annka-inline annka-green">+ ₦{{currencyService.getAmount(currencyService.getAmountChange(portfolio.old_amount, portfolio.amount))}}</h3>
                    </div>
                    <div *ngIf="currencyService.getChangeDirection(portfolio.old_amount, portfolio.amount)==false" style="width:220px; float:left;" #elsepart>
                        <h3 class="annka-inline annka-red" style="margin-right:24px;">- {{currencyService.getPercentageChange(portfolio.old_amount, portfolio.amount)}}%</h3> <h3 class="annka-inline annka-red">- ₦{{currencyService.getAmount(currencyService.getAmountChange(portfolio.old_amount, portfolio.amount))}}</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div style="max-width: 350px; margin-left:auto; margin-right:auto;">
                        <piechart></piechart>
                    </div>
                    <div style="margin-left:auto; margin-right:auto;">
                        <h4 class="text-center">{{asset_codes}}</h4>
                        <button class="annka-blue-btn submit-btn annka-center" (click)="openEdit()">Add Asset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <portfolioitem *ngFor="let asset of portfolio.assets; let i = index" [asset]="asset" (cashOut)="cashOut($event)"></portfolioitem>
    </div>
    <br/>
    <br/>
    <br/>
</div>

<div #loading *ngIf="!portfolio" class="loading" style="margin-top:150px; z-index:1000;">
    
</div>

<div *ngIf="show_amount" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closeAmount()">&times;</h1></a>
        <h2 class="text-center">Select Amount</h2>
        <hr style="width:450px;"/>
        <br/>
        <h4 class="text-center">Selected Asset - {{selected_currency.CurrencyLong}}</h4>
        <br/>
        <button class="annka-blue-no-shadow-btn submit-btn annka-center" (click)="showSearch()">Select another asset</button>
        <br/>
        <div class="price-item-div">
            <priceitem *ngFor="let price of currencyService.prices; let i = index" [currency]="selected_currency.Currency" [price]="price" [ticker]="ticker" [loading]="loading" (click)="addAmount(price)"></priceitem>
        </div>
        <br/>
    </div>
</div>

<message></message>

<div *ngIf="search">
    <search (closeClick)="closeSearchFromParent($event)" (assetSet)="addAssetToParent($event)" [currencies]="currencyService.currencies"></search>
</div>

<div *ngIf="buying" class="loading-div">
    <div class="inner-loading-div">
        <div class="loading">

        </div>
        <h4 class="text-center annka-white">Purchasing Asset...</h4>
    </div>
</div>

<transactionmessage (closeClick)="performTransaction()"></transactionmessage>
