<div *ngIf="portfolio; else loading" class="container">
    <div class="row">
        <div class="col-md-6 col-sm-7">
            <h1>{{portfolio.name}}</h1>
            <br/>
            <h3><b>Estimated value of portfolio</b></h3>
            <h3>₦{{currencyService.getAmount(portfolio.amount)}}</h3>
            <br/>
            <button class="annka-green-btn submit-btn" (click)="openEdit()">Cash Out</button>
        </div>
        <div class="col-md-6 col-sm-5">
            <br/>
            <div class="pie-chart-div" style="width:300px; height:300px; margin-left:auto; margin-right: 0px;">
                <piechart></piechart>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="row">
        <h3 class="annka-inline">Assets in Portfolio</h3> 
        <div class="annka-inline pull-right" style="margin-left:auto; margin-right: 65px;">
            <h4 class="text-center">{{asset_codes}}</h4>
            <button class="annka-blue-btn submit-btn" (click)="openEdit()">Add Asset</button>
        </div>
    </div>
    <div class="row">
        <portfolioitem *ngFor="let asset of portfolio.assets; let i = index" [asset]="asset"></portfolioitem>
    </div>
</div>
<div #loading *ngIf="!portfolio" class="loading" style="margin-top:200px;">
    
</div>

<div *ngIf="showEdit" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closeEdit()">&times;</h1></a>
        <h2 class="text-center">Add an Asset to {{portfolio.name}}</h2>
        <hr style="width:300px;"/>
        <br/>
        <h3 class="text-center">Asset</h3>
        <div class="selector-div">
            <select (ngModel)="currencies" (ngModelChange)="showPurchase($event)" class="annka-center">
                <option *ngFor="let money of currencies; let i = index" (ngValue)="money" (click)="addCurrency(i)"> {{money.Currency}} </option>
            </select>
        </div>
        <br/>
        <h3 class="text-center">Amount</h3>
        <div class="selector-div">
                <select (ngModel)="prices" (ngModelChange)="showPurchase($event)" class="annka-center">
                    <option *ngFor="let price of prices; let i = index" (ngValue)="price" (click)="addAmount(price)"> ₦{{currencyService.getAmount(price)}} </option>
                </select>
        </div>
        <br/>
        <h5 class="text-center">You Get</h5>
        <div *ngIf="loading" class="loading-small">
        
        </div>
        <h4 *ngIf="!loading" class="text-center"> {{rate}}</h4>
        <h3 class="annka-green text-center">{{selected_currency.CurrencyLong}}</h3>
        <br/>
        <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="AddCurrency()">Add</button>
    </div>
</div>

<div *ngIf="showError" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closeError()">&times;</h1></a>
        <h2 class="text-center">{{portfolioError.name}}</h2>
        <hr style="width:300px;"/>
        <br/>
        <br/>
        <h4 class="text-center">{{portfolioError.message}}</h4>
        <br/>
        <br/>
        <br/>
        <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="closeError()">GOT IT</button>
    </div>
</div>

<div *ngIf="buying" class="loading-div">
    <div class="inner-loading-div">
        <div class="loading">

        </div>
        <h4 class="text-center annka-white">Purchasing Asset...</h4>
    </div>
</div>
