<div class="container">
    <div class="row">
        <br/>
        <h3 class="text-center"><b>My Portfolios</b> <a (click)="showMessage()"> <i  class="far fa-question-circle"></i></a></h3>
        <hr/>
        <br/>
        <a class="annka-green-btn annka-center" routerLink="/portfolio/new">CREATE PORTFOLIO</a>
    </div>
    <div class="row">
        <br/>
        <div *ngIf="loading" class="loading" style="margin-top:150px;">
            
        </div>
        <div *ngIf="returned_empty">
            <br/>
            <br/>
            <br/>
            <h5 class="text-center">You have Not created any portfolio</h5>
        </div>
        <portfoliopre *ngFor="let portfolio of portfolios; let i = index" [portfolio]="portfolio" (click)="showPortfolio(i)"></portfoliopre>
    </div>
    <br/>
    <br/>
    <br/>
</div>

<message></message>