<div class="col-md-4 col-sm-4">
   <div class="annka-card shadow">
       <h3 class="annka-green text-center">{{portfolio.name}}</h3>
       <hr/>
       <br/>
       <h4 class="text-center"><b>Amount</b></h4>
       <h4 class="text-center">₦{{portfolio.amount}}</h4>
       <br/>
       <h4 class="text-center"><b>Assets</b></h4>
       <h4 class="text-center">{{assets}}</h4>
       <br/>
       <h5 class="text-center"><a class="annka-green" routerLink="/portfolio/all">Cash Out</a></h5>
   </div>
</div>
