<div class="container">
    <div class="row">
        <br/>
        <br/>
        <div class="shadow annka-center annka-fund-div">
             <div class="annka-padding-16 annka-center" style="max-width:400px;">
                 <h3 class="text-center"><b>Forgot Password</b></h3>
                 <br/>
                 <h5 class="text-center annka-text">Enter your email address and we will send you a reset link</h5>
                 <br/>
                 <div *ngIf="error_message">
                    <h5 class="annka-red text-center">{{error_message}}</h5>
                    <br/>
                 </div>
                 <input style="display:block; color:#000000; height: 30px;" placeholder="name@example.com" class="annka-input annka-center" #mail >
                 <br/>
                 <br/>
                 <button class="annka-blue-btn annka-center" (click)="reset(mail.value)">Continue</button>
                 <br>
                 <h5 class="text-center"><a class="text-center" routerLink="/login">Login</a></h5>
             </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="loading-div">
    <div class="inner-loading-div">
        <div class="loading">

        </div>
        <h4 class="text-center annka-white">Sending Email...</h4>
    </div>
</div>

<div *ngIf="showMessage" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closeMessage()">&times;</h1></a>
        <h2 class="text-center">Reset Email Sent</h2>
        <hr style="width:300px;"/>
        <br/>
        <br/>
        <h4 class="text-center">An email was sent to {{email}} containing insctructions on how to reset your password.</h4>
        <br/>
        <br/>
        <br/>
        <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="closeMessage()">OK</button>
    </div>
</div>