#home-intro-div{
    background: #273746;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    height: 400px;
    min-height: 300px;
    color: #FFFFFFFF;
    padding-top: 50px;
    width: 100%;
}

.white_text{
    color: #FFFFFFFF;
}

@media screen and (max-width: 768px) {
    .home-intro-div h3{
        font-size: 8px;
    }
}

