#home-intro-div{
    background: #273746;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    height: 300px;
    min-height: 300px;
    color: #FFFFFFFF;
    padding-top: 50px;
    width: 100%;
}

h1,h2,h3,h4,h5{
    color: #FFFFFFFF;
}

.white_text{
    color: #FFFFFFFF;
}
