<div id="home-intro-div">
    <div class="container">
      <div class="row">
          <img src="../../../assets/images/logo.png" width="80" height="80" class="img-responsive annka-center">
          <h1 class="text-center annka-header annka-white">Annka</h1>
          <h3 class="text-center annka-white" style="line-height:1.6em">Helps you invest in multiple crypto assets without the hassle of multiple digital wallets.</h3>
          <h3 class="text-center annka-white" style="line-height:1.6em">Track and Manage your portfolio of assets in one place.</h3>
          <br/>
          <br/>
          <br/>
          <button class="annka-signup-btn annka-center submit-btn" (click)="showSignup()">Signup</button>
      </div>
    </div>
</div>
<hr/>
<div id="home-portfolio-div">
    <div class="container">
        <br/>
        <h1 class="text-center">Invest in a crypto asset today</h1>     
        <br/>
        <br/>
        <div class="row">
            <div *ngIf="loading" class="loading-medium">

            </div>
            <div class="col-md-4 col-sm-4" *ngFor="let currency of selected_currencies; let i = index" (click)="buyAsset(i)" style="margin-bottom:30px;">
                <a href="">
                <div class="annka-card shadow">
                    <img src="https://s3.eu-central-1.amazonaws.com/annkapublic/64/{{currency.Image_url}}@2x.png" class="img-responsive annka-center">
                    <h2 class="text-center"><b>{{currency.Currency}}</b></h2>
                    <h4 class="text-center"><b>{{currency.CurrencyLong}}</b></h4>
                </div>
                </a>
            </div>
        </div>
        <br/>
        <div style="margin-top:30px; margin-bottom:30px;">
            <button class="annka-blue-btn annka-center submit-btn" (click)="showSearch()">Other Assets</button>
        </div>
    </div>
</div>
<div id="home-message-div">
    <div class="container">
        <h1 style="line-height:1.6em;" class="text-center annka-white">Annka is designed for cypto asset investors who intend to have a mid to long term position in the market</h1>
    </div>
</div>
<div id="home-steps-div">
    <div class="container">
        <br/>
        <h1 class="text-center">What to do</h1>     
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h1 class="annka-green text-center"><i class="fas fa-credit-card"></i></h1>
                <h2 class="annka-black text-center">Invest</h2>
                <h4 style="line-height:1.6em;">With the convenience of your ATM (debit) card investing in crypto assets has never been easier. With just a few clicks you will be set.</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <h1 class="annka-green text-center"><i class="fas fa-chart-line"></i></h1>
                <h2 class="annka-black text-center">Manage</h2>
                <h4 style="line-height:1.6em;">Manage your investment of multiple crypto assets with a single account, track your progress and continue to grow your portfolio from a simple user friendly interface.</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <h1 class="annka-green text-center"><i class="fas fa-sign-out-alt"></i></h1>
                <h2 class="annka-black text-center">Cash Out</h2>
                <h4 style="line-height:1.6em;">After your desired investment period you can make a direct deposit into your bank account when you close an asset or portfolio.</h4>
            </div>
        </div>
        <br/>
        <br/>
        <div style="margin-top:30px; margin-bottom:30px;">
            <a class="annka-blue-btn annka-center" routerLink="/portfolio/new">Get Started</a>
        </div>
    </div>
</div>

<div id="home-whyannka-div">
    <div class="container">
        <div class="row">
            <br/>
            <h1 class="text-center annka-white">Why Annka</h1>     
            <br/>
            <br/>
            <h4 style="line-height:1.8em;" class="text-center annka-white">Annka.xyz was designed by entrepreneurs and investors who had personally gone through the limitations and fustration of investing in Crypto Assets in Nigeria. Annka.xyz is strictly built for investors and not traders because we designed the platform for Mid-term or Long-term positions which last from a couple of months to a few years. We provide you with the largest collection of Crypto Assets in Africa. Annka.xyz has guidelines based on best practices for both biginners and professionals to invest profitably.</h4>
            <br/>
            <br/>
            <div style="margin-top:30px; margin-bottom:30px;">
                <a class="annka-blue-no-shadow-btn annka-center" routerLink="/guidelines">View Guidelines</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="search">
    <search (closeClick)="closeSearchFromParent($event)" (assetSet)="addAssetToParent($event)" [currencies]="currencyService.currencies"></search>
</div>
