#home-intro-div{
    background: #273746;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    color: #FFFFFFFF;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
}

.white_text{
    color: #FFFFFFFF;
}

@media screen and (max-width: 768px) {
    .home-intro-div{
        height: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .home-intro-div{
        height: 600px;
    }
}

