<div class="row">
   <div class="annka-card-price shadow annka-white-background">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h4>{{resourceService.parseDate(transaction.date)}}</h4>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
          <h4>{{transaction.description}}</h4>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
          <h4 *ngIf="transaction.status==completed" class="annka-green">{{transaction.status}}</h4>
          <h4 *ngIf="transaction.status==pending" class="annka-red">{{transaction.status}}</h4>
      </div>
   </div>
</div>