<div class="row">
   <div class="annka-card-item shadow annka-white-background"></div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h5>{{resourceService.parseDate(transaction.date)}}</h5>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
          <h5>{{transaction.description}}</h5>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
          <h5 *ngIf="transaction.status=='completed'" class="annka-green">{{transaction.status}}</h5>
          <h5 *ngIf="transaction.status=='pending'" class="annka-red">{{transaction.status}}</h5>
      </div>
   </div>
</div>