<div class="container">
  <div class="row">
      <br/>
      <br/>
      <div *ngIf="!loading" class="shadow annka-center annka-fund-div">
           <div class="annka-padding-16 annka-center" style="max-width:400px;">
               <br/>
               <form class="form-horizontal"  [formGroup]="amountForm" (ngSubmit)="onFormSubmit()">  
                  <h3 class="text-center annka-green">Withdrawal</h3>
                  <br/>
                  <h4 class="text-center">How much are you withdrawing from your wallet?</h4>
                  <br/>
                  <br/>
                  
                  <div *ngIf="(amount.invalid && amount.touched)"
                      class="text-danger">
                  
                      <h5>Please Enter a Valid Amount</h5>
                  </div>
                  <div class="form-group">
                    <h3 style="display:inline-block;">₦</h3>
                    <input style="display:inline;" class="annka-input" type="text"
                        formControlName = "amount"
                        id="amount"
                        placeholder="Amount">
                  </div>
                  <br/>
                  <button type="submit" class="annka-blue-btn annka-center">CONTINUE</button>
                  <br/>
               </form>
           </div>
           <hr/>
           <div class="annka-black-background" style="width:100%; padding-top:10px; padding-bottom:10px;">
               <h4 class="text-center annka-white" style="line-height:1.2em;">Wallet Balance - ₦{{currencyService.getAmount(user.account_balance)}}</h4>
           </div>
      </div>   
  </div>
</div>

<div #loading *ngIf="loading" class="loading" style="margin-top:200px;">
    
</div>

<div *ngIf="showError" class="annka-modal-div" id="login-loader-div">
  <div class="innder-annka-modal-div">
      <a class="text-right"><h1 class="close-text" (click)="closeError()">&times;</h1></a>
      <h2 class="text-center">{{portfolioError.name}}</h2>
      <br/>
      <br/>
      <h4 class="text-center">{{portfolioError.message}}</h4>
      <br/>
      <br/>
      <br/>
      <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="closeError()">CONTINUE</button>
  </div>
</div>