<div class="container">
    <div class="row">
        <br/>
        <h3 class="annka-center text-center"><b>Annka Guidelines</b></h3>
        <br/>
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">How much to Invest</h3>
              </div>
              <div class="panel-body">
                  <span>You do not need a large sum of money to invest in crypto assets but you should allocate no more than 2-5% of your investable funds into Crypto Assets. There are smart speculations, so don't bet the farm on them.</span>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Use Dollar Cost Averaging (DCA)</h3>
              </div>
              <div class="panel-body">
                  Dollar Cost Averaging (DCA) is a simple investment technique that involves making regular fixed investments (as opposed to investing a large chunk at once) to accumulate wealth over time. By taking this approach you are mitigating risks and accumulating assets. For Example instead of investing 1 million you can invest 50,000 weekly or monthly until you reach your target returns.  
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Diversify</h3>
              </div>
              <div class="panel-body">
                  Invest in multiple crypto assets to mitigate risk and maximize potential profit. We advice you do your own research before investing in a crypto asset
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Investment Holding period</h3>
              </div>
              <div class="panel-body">
                  In crypto asset investment patience is a virtue: Long term vision is the key for example if you invested four thousand Naira (4000) in Etheruem(ETH) in January 2017 by december 2017 your investment would be worth Four hundred thousand Naira (400,000), Etheruem rose over 5000% in 2017 the entire crypto asset market went from 18 billion dollars to 700 billion dollars. For best returns a few months to a couple of years can be a good idea.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Gains</h3>
              </div>
              <div class="panel-body">
                  Bigger market captitalision coins give you nice long term steady growth as the whole market matures but smaller market capitalization give you more gains but may also lose value that is why you need to diversify your Portfolio to mitigate risk.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Profit and Loss</h3>
              </div>
              <div class="panel-body">
                  Not every currency will be profitable but some might lose value while others might grow exponetially so do your own research!
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Growth</h3>
              </div>
              <div class="panel-body">
                  You should research different methods to steadly grow a portfolio, for example you could allocate a small percentage of your monthly income to diversify and grow your portfolio there are several methods
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Early adoption</h3>
              </div>
              <div class="panel-body">
                  Early adoption pays off, try looking for coins that are regarded as diamond in the rough, coins that most people don't know exsist yet and they can change your life but be carefull not to invest in a dead currency
              </div>
            </div>
        </div>
    </div>
</div>