<div id="new-portfolio-div">
  <div class="container">
      <div class="row">
        <br/>
        <div>
            <h3 class="annka-new-portfolio"><b>New Portfolio </b> <a (click)="openInvestmentMessage()"> <i  class="far fa-question-circle"></i></a></h3> 
            <div *ngIf="user" class="purchase-wallet-div">
                <h4><b>Wallet Balance - ₦{{currencyService.getAmount(user.account_balance)}}</b></h4>
                <a class="annka-green-btn" routerLink="/account/fund">FUND ACCOUNT</a>
            </div>
        </div>
        <div class="shadow annka-card" style="padding-bottom:20px;">
            <h4 class="annka-green"><b>Step 1 - Give your portfolio a name</b></h4>
            <br/>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="annka-step-1-a">
                        <div class="input-group annka-center">
                            <input type="text" class="form-control" placeholder="name" aria-describedby="basic-addon1" value="{{portfolio.name}}" #portfolio_name>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="annka-step-1-b">
                        <h4 class="text-center"><b>Amount in Portfolio</b></h4>
                        <h4 class="text-center">₦{{currencyService.getAmount(portfolio.amount)}}</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 annka-step-1">
                    <div class="annka-step-1-c">
                        <h4 class="text-center"><b>Assets</b></h4>
                        <h4 *ngIf="asset_codes==''" class="text-center">None</h4>
                        <h4 *ngIf="asset_codes!=''" class="text-center">{{asset_codes}}</h4>
                    </div>
                </div>
            </div>     
        </div>
        <div class="shadow annka-card" style="padding-bottom:20px;">
            <h4 class="annka-green"><b>Step 2 - Add an Asset to your portfolio</b></h4>
            <h3 class="annka-center text-center">Select Asset <a style="margin-left:50px;" (click)="showSearch()"><i class="fas fa-search annka-inline"></i> Search</a></h3>
            <div class="selector-div">
                <select class="annka-center" (change)="showPurchase($event)" name="currencies" id="currencies">
                    <option *ngFor="let money of currencyService.currencies" [ngValue]="money"> {{money.Currency}} </option>
                </select>
            </div>
            <br/>
            <h3 class="text-center">Add {{currencyLong}} ({{currency}}) to your portfolio</h3>
            <hr/>
            <br/>
            <h4 style="margin-left:20px;">Our Popular Packages</h4>         
            <div class="price-item-div">
                <priceitem *ngFor="let price of currencyService.prices; let i = index" [currency]="currency" [price]="price" [ticker]="ticker" [loading]="loading" (click)="addAmount(price)"></priceitem>
            </div>
        </div>
      </div>
      <div class="row">
          <button class="annka-blue-btn annka-center submit-btn" (click)="submitPortfolio(portfolio_name.value)">Create Portfolio</button>
      </div>
  </div>
</div>

<div *ngIf="showError" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closeError()">&times;</h1></a>
        <h2 class="text-center">{{portfolioError.name}}</h2>
        <hr style="width:450px;"/>
        <br/>
        <br/>
        <h4 class="text-center">{{portfolioError.message}}</h4>
        <br/>
        <br/>
        <br/>
        <button *ngIf="portfolioError.action=='wallet'" class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="showFundWallet()">FUND WALLET</button>
        <button *ngIf="portfolioError.action=='assets'" class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="closeError()">CONTINUE</button>
    </div>
</div>

<div *ngIf="showPurchaseMessage" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closePurchaseMessage()">&times;</h1></a>
        <h2 class="text-center">Create Portfolio</h2>
        <hr style="width:450px;"/>
        <br/>
        <br/>
        <h4 class="text-center">Estimated Value of Portfolio</h4>
        <h3 class="text-center annka-green">₦{{currencyService.getAmount(currencyService.getNairaAnnkaRate(portfolio.amount))}}</h3>
        <br/>  
        <br/>
        <h4 class="text-center annka-center" style="line-height:1.8em;">Purchasing Digital Assets involves a lot of tedious steps and spending a considerable amount of money just to make a simple transaction go through. Annka removes that complexity and reduces cost significantly with you needing just your credit card and an email address. <br/> Because we are bearing the burding and cost of purchasing and maintaining digital assets on your behalf we charge you a blockchain fee and a commision when creating your portfolio.</h4>
        <br/>
        <br/>
        
        <br/>
        <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="continuePurchase()">CONTINUE</button>
    </div>
</div>

<div *ngIf="showInvestMessage" class="annka-modal-div-transparent" id="login-loader-div">
    <div class="innder-annka-modal-div-transparent">
        <a class="text-right"><h1 class="close-text" (click)="closeInvestmentMessage()">&times;</h1></a>
        <h2 class="text-center">Create Portfolio</h2>
        <hr style="width:300px;"/>
        <br/>
        <br/>
        <h4 class="text-center" style="line-height:1.8em;">Creating a Portfolio and investing in a crypto asset go hand in hand on Annka. <br/>The idea is to have a porfolio of one or more crypto assets and let the portfolio grow as a whole.</h4>
        <!--<h3><b>Invest</b></h3>
        <h4 class="text-left" style="line-height:1.6em;">When investing in crypto assets you should allocate no more than 2-5 % of your investable funds.</h4>
        <br/> 
        <h3><b>Diversify</b></h3> 
        <h4 class="text-left" style="line-height:1.6em;">Invest in multiple crypto assets to mitigate risk and maximize potentaial profit. We advice you do your own research before investing in a crypto asset</h4>
        <br/>
        <h3><b>Hold</b></h3>
        <h4 class="text-left" style="line-height:1.6em;">The crypto asset market is very volatile an asset may drop to as low as 50% before achieving a very profitable percentage, So what ever you do, do not panic cash out</h4>
        <br/>
        <h3><b>Cash Out</b></h3>
        <h4 class="text-left" style="line-height:1.6em;">We advice you to cash-out some profit of a portfolio or asset if you have made nice gains.</h4>-->
        <br/>
        <br/>
        <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="closeInvestmentMessage()">CONTINUE</button>
    </div>
</div>

<div *ngIf="search">
    <search (closeClick)="closeSearchFromParent($event)" (assetSet)="addAssetToParent($event)" [currencies]="currencyService.currencies"></search>
</div>

<div *ngIf="create_loading" class="loading-div">
    <div class="innder-loading-div">
        <div class="loading">

        </div>
        <h4 class="text-center annka-white">Creating Portfolio</h4>
    </div>
</div>

<snackbar></snackbar>