select{
    background-color: #273746;
    border: 0px solid #FFFFFF;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #273746;
    color: #FFFFFF;
    font-size: 20px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0px solid #273746;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
    background: url("../../../assets/images/caret-down.png") #273746 no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../../../assets/images/caret-down.png") #273746 no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}

.submit-btn{
    margin-top: 10px;
    margin-bottom: 30px;
}

#new-portfolio-div{
    height: auto;
}

.price-item-div{
    margin-bottom: 30px;
}

.annka-new-portfolio{
    display: inline;
}

.purchase-wallet-div{
    display: inline;
    margin-left:auto;
    margin-right:0px;
    float:right;
}

.purchase-wallet-div a{
    width:200px;
    display: inline;
}

.purchase-wallet-div h4{
    margin-right:20px;
    display: inline;
}

@media screen and (max-width: 768px) {
    .purchase-wallet-div{
        padding-top: 6px;
        padding-bottom: 12px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .annka-step-1-a{
        padding-bottom: 8px;
        padding-top: 8px;
        margin-bottom: 12px;
        margin-top: 8px;
    }

    .annka-step-1-b{
        padding-bottom: 8px;
        padding-top: 8px;
        margin-bottom: 8px;
        margin-top: 40px;
    }

    .annka-step-1-c{
        padding-bottom: 8px;
        padding-top: 8px;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .purchase-wallet-div a{
        margin-top:8px;
        width:150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .purchase-wallet-div h4{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .annka-new-portfolio{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}
