<div class="container">
    <div class="row">
         <br/>
         <h3 class="annka-center text-center"><b>Pending Transactions</b></h3>
         <br/>
         <br/>
         <div *ngIf="transactions&&!loading">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <h4><b>Date</b></h4>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <h4><b>Description</b></h4>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <h4><b>Status</b></h4>
              </div>

              <pendingitem *ngFor="let transaction of transactions; let i = index" [transaction]="transaction"></pendingitem>
         </div>
         <div *ngIf="!transactions&&!loading">
            <h4 class="text-center">You dont have any pending transactions at the moment</h4>
            <br/>
            <h5 class="text-center"><a class="text-center" (click)="goBack()">Back</a></h5>
         </div>
    </div>
</div>

<div #loading *ngIf="loading" class="loading" style="margin-top:200px;">
    
</div>
