<div class="account-bg">
    <div class="container">
        <div class="annka-login-div annka-center">
            <div class="annka-login-div-inner shadow annka-center">
                <form class="form-horizontal"  [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">

                      <h4 class="text-center"><b>Signup</b></h4>
                      
                      <h5 *ngIf="invalidCredentialMsg" class="text-danger">{{invalidCredentialMsg}}</h5>
                      
                      <div *ngIf="email.invalid && email.touched"
                            class="text-danger">
                    
                            <div *ngIf = "email.errors?.required">
                                <h5>Email field can't be blank</h5>
                            </div>
                    
                            <div *ngIf = "email.errors?.pattern">
                                <h5>The mail id doesn't seem right</h5>
                            </div>
                        </div>
                        <div *ngIf="(password.invalid && password.touched)"
                            class="text-danger">
                        
                            <h5>Password needs to be more than 8 characters</h5>
                        </div>
                        <div *ngIf="(firstname.invalid && firstname.touched)"
                            class="text-danger">
                        
                            <h5>Your Firstname needs to be more than 1 character</h5>
                        </div>
                        <div *ngIf="(phone_number.invalid && phone_number.touched)"
                            class="text-danger">
                        
                            <h5>Your Phone Number Needs to be 11 characters or more without (+)</h5>
                        </div>
                        <div *ngIf="(lastname.invalid && lastname.touched)"
                            class="text-danger">
                        
                            <h5>Your Lastname needs to be more than 1 character</h5>
                        </div>
                        <div *ngIf="(account_bank.invalid && account_bank.touched)"
                            class="text-danger">
                        
                            <h5>Your Bank name is required for us when you want to cashout</h5>
                        </div>
                        <div *ngIf="(account_number.invalid && account_number.touched)"
                            class="text-danger">
                        
                            <h5>Your Bank account number is needed when you want to cashout</h5>
                        </div>
                        <div *ngIf="(terms.invalid && terms.touched)"
                            class="text-danger">
                        
                            <h5>You must agree to the terms and conditions</h5>
                        </div>
                        <div class="form-group">
                            <input style="display:block;" class="annka-input" type="text"
                              formControlName = "firstname"
                              id="firstname"
                              placeholder="First Name">
                        </div>
                        <br/>
                        <div class="form-group">
                            <input style="display:block;" class="annka-input" type="text"
                              formControlName = "lastname"
                              id="lastname"
                              placeholder="Last Name">
                        </div>
                        <br/>
                        <div class="form-group">
                          <input style="display:block;" class="annka-input" type="text"
                            formControlName = "email"
                            id="email"
                            placeholder="Email">
                        </div>
                        <br/>
                        <div class="form-group">
                            <input style="display:block;" class="annka-input" type="text"
                              formControlName = "phone_number"
                              id="phone_number"
                              placeholder="Phone Number">
                        </div>
                        <br/>
                        <div class="form-group">
                          <input style="display:block;" class="annka-input" type="password"
                            formControlName = "password"
                            id="password"
                            placeholder="Password">
                        </div>
                        <br/>
                        <div class="form-group">
                            <input style="display:block;" class="annka-input" type="password"
                              formControlName = "confirmPassword"
                              id="confirmPassword"
                              placeholder="Confirm Password">
                        </div>
                        <br/>
                        <div class="form-group">
                            <label for="account_bank">Bank</label>
                              <select style="display:block;" class="annka-input" formControlName = "account_bank" id="account_bank">
                                <option>Access</option>
                                <option>Citibank</option>
                                <option>Diamond</option>
                                <option>Ecobank</option>
                                <option>Enterprise</option>
                                <option>Fidelity</option>
                                <option>First Bank</option>
                                <option>First City Monument</option>
                                <option>Guaranty Trust</option>
                                <option>Heritage</option>
                                <option>Key Stone</option>
                                <option>MainStreet</option>
                                <option>Skye</option>
                                <option>Stanbic IBTC</option>
                                <option>Standard Chartered</option>
                                <option>Sterling</option>
                                <option>Sun Trust</option>
                                <option>Union</option>
                                <option>UBA</option>
                                <option>Unity</option>
                                <option>Wema</option>
                                <option>Zenith</option>
                              </select>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input style="display:block;" class="annka-input" type="text"
                              formControlName = "account_number"
                              id="account_number"
                              placeholder="Bank Account Number">
                        </div>
                        <h6 class="annka-grey">Add Bank details for when you want to cash out on your investments</h6>
                        <br/>  
                        <div class="form-group checkbox">
                            <label>
                                <input style="display:block;" id="terms" formControlName = "terms" type="checkbox">Confirm that you've read the Terms and 
                                Conditions
                            </label>
                        </div>
                        <br/>
                        <button type="submit" class="annka-green-btn annka-center" [disabled]="!signupForm.valid">CONTINUE</button>
                        <br/>
                        <h5 class="text-center"><a routerLink="/login">Login</a></h5>
                </form>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="showConfirm" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closeConfirm()">&times;</h1></a>
        <h2 class="text-center">Confirmation</h2>
        <hr style="width:450px;"/>
        <br/>
        <h4 class="text-center">Please make sure the information you have provided(like you bank account number) is correct and up to date</h4>
        <br/>
        <br/>
        <br/>
        <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="processForm()">SIGNUP</button>
        <h5 class="text-center annka-grey">I am sure i have provided the right information</h5>
        <br/>
        <br/>
        <button class="annka-green-no-shadow-btn annka-center submit-btn" (click)="closeConfirm()">CLOSE</button>
        <h5 class="text-center annka-grey">I want to adjust the information i have provided</h5>
    </div>
</div>

<div *ngIf="loading" class="loading-div">
    <div class="innder-loading-div">
        <div class="loading">

        </div>
        <h4 class="text-center annka-white">Signing you up...</h4>
    </div>
</div>

<div *ngIf="showError" class="annka-modal-div" id="login-loader-div">
    <div class="innder-annka-modal-div">
        <a class="text-right"><h1 class="close-text" (click)="closeError()">&times;</h1></a>
        <h2 class="text-center">{{portfolioError.name}}</h2>
        <hr style="width:450px;"/>
        <br/>
        <br/>
        <h4 class="text-center">{{portfolioError.message}}</h4>
        <br/>
        <br/>
        <br/>
        <button class="annka-blue-no-shadow-btn annka-center submit-btn" (click)="closeError()">CONTINUE</button>
    </div>
</div>