/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: auto;
}
a {
    color: #273746;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: #EECA1E;
}

.a{
    color: #EECA1E;
}

.a:hover{
    color:#273746;
}

.annka-light-blue{
    color: #2E86C1;
}

.annka-blue{
    color:#273746;
}

.annka-red{
    color:#7B241C;
}

.annka-yellow{
    color:#EECA1E;
}

.annka-green{
    color: #145A32;
}

.annka-black{
    color: #000000;
}

.annka-padding-16{
    padding: 16px 16px 16px 16px;
}

.annka-white-background{
    background-color: #FFFFFF;
}

.annka-grey-background{
    background-color: #ECF0F1;
}

.annka-black-background{
    background-color: #000000;
}

.annka-green-background{
    background: #145A32;
}

.annka-white{
    color: #FFFFFF;
}

.annka-grey{
    color: #B3B6B7;
}

h1,h2,h3,h4,h5,input,a,option{
    font-family: "Open Sans", sans-serif;
}

a:hover{
    text-decoration: none;
}

.annka-header{
   font-size: 55px;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

.annka-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.annka-block{
    display:block;
}

.annka-red-btn{
    display: block;
    background-color: #7B241C;
    color: #FFFFFF;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    -moz-box-shadow:    0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
    box-shadow:         0px 1px 2px 1px #ccc;
}

.annka-red-btn:hover{
    text-decoration: none;
    background-color: #E74C3C;
    color:#FFFFFF;
}

.annka-signup-btn{
    display: block;
    background-color: #5D6D7E;
    color: #FFFFFF;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
}

.annka-signup-btn:hover{
    text-decoration: none;
    background-color: #34495E;
    color:#FFFFFF;
}

.annka-blue-btn{
    display: block;
    background-color: #273746;
    color: #FFFFFF;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    -moz-box-shadow:    0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
    box-shadow:         0px 1px 2px 1px #ccc;
}

.annka-blue-no-shadow-btn{
    display: block;
    background-color: #273746;
    color: #FFFFFF;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
}

.annka-blue-no-shadow-btn:hover{
    text-decoration: none;
    background-color: #5D6D7E;
    color:#FFFFFF;
}

.annka-blue-btn:hover{
    text-decoration: none;
    background-color: #5D6D7E;
    color:#FFFFFF;
}

.annka-green-btn{
    display: block;
    background-color: #145A32;
    color: #FFFFFF;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    -moz-box-shadow:    0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
    box-shadow:         0px 1px 2px 1px #ccc;
}

.annka-green-btn:hover{
    background-color: #2Ecc71;
    color: #FFFFFF;
    text-decoration: none;
}

.annka-green-no-shadow-btn{
    display: block;
    background-color: #145A32;
    color: #FFFFFF;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
}

.annka-green-no-shadow-btn:hover{
    text-decoration: none;
    background-color: #2Ecc71;
    color:#FFFFFF;
}

.annka-card{
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    background: #FFFFFF;
}

.annka-inline{
    display: inline
}

.annka-right{
    float:right;
    text-align: right;
}

.annka-left{
    float:left;
    text-align: left;
}

.annka-input{
    min-width: 250px;
    width: 100%;
    max-width: 1000px;
    height: 30px;
    border-bottom: 1px solid #D0D3D4;
    border-right: 0px solid #000000;
    border-top: 0px solid #000000;
    border-left: 0px solid #000000;
}

.annka-input:focus{
    border-bottom: 1px solid #EECA1E;
}

.annka-currency-div:hover{
    cursor: pointer;
}

.account-bg-login{
    background: url("./assets/images/home_intro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:750px;
}

.account-bg-signup{
    background: url("./assets/images/home_intro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:1000px;
}

.annka-login-div{
    max-width:400px;
    margin-top: 80px;
    margin-bottom: 80px;
    min-height:600px;
}

.annka-login-div-inner{
    background-color: #FFFFFF;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left:30px;
}

#home-portfolio-div{
    padding-top: 20px;
    padding-bottom: 20px;
}

#home-whyannka-div{
    background: url("./assets/images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0px solid #000000;
}

#home-message-div{
    background: url("./assets/images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#home-steps-div{
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.annka-fund-div{
    max-width: 600px;
    background-color: #FFFFFF;
    margin-bottom: 60px;
}

.shadow {
    -moz-box-shadow:    0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
    box-shadow:         0px 1px 2px 1px #ccc;
    border-radius: 5px;
}

.badge{
    background-color: #641E16;
}

/*Annka Modal*/
.annka-modal-div-transparent{
    width: 100%;
   height: 100%;
   z-index: 1000;
   position: fixed;
   overflow:auto;
   top: 0;
   left: 0;
   background: rgba(0,0,0, 0.95);
   color:white;

   /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.annka-modal-div{
    width: 100%;
   height: 100%;
   z-index: 1000;
   position: fixed;
   overflow:auto;
   top: 0;
   left: 0;
   background: rgba(0,0,0, 0.96);
   color:white;

   /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.innder-annka-modal-div{
    width:100%;
    max-width: 1000px;
    height: 100%;
    color:white;
}

.innder-annka-modal-div-transparent{
    width:100%;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    height: 100%;
    color:white;
}

@media screen and (max-width: 768px) {
    .innder-annka-modal-div{
        max-width:600px;
    }
}

@media screen and (max-width: 480px) {
    .innder-annka-modal-div{
        max-width:350px;
    }

    .innder-annka-modal-div-transparent{
        max-width:350px;
    }
}

.close-text{
    color: #f3f3f3;
    font-size: 80px;
    cursor: default;
    margin-right: 50px;
 }
 
 .close-text:hover{
    text-decoration: none;
    cursor: pointer;
 }
/*Annka Modal*/


/*Annka Footer*/
.footer{
    background-color: #000000;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    color:#FFFFFF;
    border: 0px solid #000000;
    margin-top: -1px;
}

.annka-footer-ul li{
    margin-left: -38px;
    list-style: none;
    display:inline;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
}

.annka-footer-ul-left li{
    margin-left: -38px;
    list-style: none;
    display:inline;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

.annka-footer-annka{
    margin-top: 10px;
}

.annka-footer-left-div{
    margin-top: 24px;
    width: 310px;
    float:left;
    margin-left: -30px;
}

.annka-footer-right-div{
    margin-top: 24px;
    margin-right:20px;
    width: 270px;
    float:right;
}

@media screen and (max-width: 1048px) {
    .annka-footer-right-div{
        margin-top: 15px;
        margin-right:auto;
        margin-left: auto;
        display: block;
        width: 290px;
        float:none;
    }

    .annka-footer-left-div{
        margin-top: 10px;
        margin-bottom: 15px;
        width: 350px;
        margin-right:auto;
        margin-left: auto;
        display: block;
        float:none;
    }
}

/*Annka Footer*/


/*Loading*/
.loading-medium {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #EECA1E;
    border-bottom: 8px solid #EECA1E;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

.loading-small {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #EECA1E;
    border-bottom: 8px solid #EECA1E;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #EECA1E;
    border-bottom: 8px solid #EECA1E;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-left: auto;
    margin-right: auto;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-div{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    overflow:auto;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.98);
    
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
 
     /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.inner-loading-div{
    vertical-align: middle;
}
/*Loading*/

/*navbar*/
.navbar{
    margin-bottom: 0px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{

}

nav.navbar.navbar-default {
    background-color: #2E86C1;
    border: 0px solid white;
    border-radius: 0px;
}

.navbar-default .navbar-nav>li>a{
    color: #FFFFFF;
}

.navbar-default .navbar-brand{
    color: #FFFFFF;
    padding-left: 30px;
}

.bib-navbar-fa{
    margin-right:100px;
}

.navbar-default .navbar-brand:hover{
   color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar{
   background-color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu li a:hover{
    color: #000000;
}

.navbar-default .navbar-nav .open .dropdown-menu li a{
    color: #000000;
}

.navbar-nav .open .dropdown-menu li a{
    color: #000000;
}

@media screen and (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu li a{
        color: #FFFFFF;
    }

    .navbar-nav .open .dropdown-menu li a:focus{
        color: #FFFFFF;
    }
}

/*navbar*/